/Atributo.class
/Carta.class
/ComparadorCartas.class
/Criterio.class
/CriterioAnd.class
/CriterioNombre.class
/CriterioValorMayor.class
/Juego.class
/Jugador.class
/Main.class
/Mazo.class
/VisorMazo.class
/Juego2.class
